/* Grundlayout */
body {
    font-family: Arial, sans-serif;
    background-image: url("../images/Background.png");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100%;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

/* Character Slider */
.character-slider {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 150px;
    width: 1000px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 170px;
    padding-left: 3vw;
    background-color: #3d7a65;
    opacity: 0.9;
}

.slider-images {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    overflow-x: auto;
    gap: 10px;
    margin-top: 2vh;
}

.slider-images img, .sliderImage {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.sliderImage{
    width: 90px;
    height: 130px;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.arrow {
    background-color: rgba(0,0,0,0.1);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Character Info */
.character-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 510px;
    width: 350px;
    background-color: #3d7a65;
    opacity: 0.9;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    right: -850px;
    top: 20px;
}

.profile-pic {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

#mapBox{
    height: 540px;
    width: 630px;
    position: relative;
    margin-top: -66vh;
    background-color: #3d7a65;
    opacity: 0.9;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 170px;
}