services:
  postgres:
    container_name: postgres
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
      - setup:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=rulerofall
      - POSTGRES_PASSWORD=rulerofall
      - POSTGRES_DB=postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "rulerofall"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  init-container:
    container_name: init-postgresql
    image: busybox:latest
    volumes:
      - setup:/srv/data
    command:
      - sh
      - -c
      - |
        cat <<'SQL' > /srv/data/initdb.sql
        DROP DATABASE IF EXISTS keycloak;
        DROP USER IF EXISTS keycloak;

        CREATE USER keycloak WITH PASSWORD 'dicekeeper' LOGIN NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT NOREPLICATION CONNECTION LIMIT -1;
        CREATE DATABASE keycloak WITH OWNER=keycloak ENCODING='UTF8' CONNECTION LIMIT=-1;

        DROP DATABASE IF EXISTS keeperofthedice;
        DROP USER IF EXISTS keeperofthedice;

        CREATE USER keeperofthedice WITH PASSWORD 'dicekeeper' LOGIN NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT NOREPLICATION CONNECTION LIMIT -1;
        CREATE DATABASE keeperofthedice WITH OWNER=keeperofthedice ENCODING='UTF8' CONNECTION LIMIT=-1;

        SQL

volumes:
  postgres:
  setup: