/* Startseit*/
 #bagroundboxStart{
        font-family: cabaret;
        background-image: url(HintergrundPC.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
    }
   #overboxStart{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 251, 251, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #startboxStart{
        width: 400px;
        height: 200px;
        background-color: white;
        text-align: center;
        padding-top: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    #chnameStart{
        width: 80%;
        padding: 10px;
        margin: 15px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    #buttonstartStart{
        padding: 10px 20px;
        background-color: #258128;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    #buttonstartStart:hover {
        background-color: #7caf7e;
    }
    @media (max-width: 500px) {
        #bagroundboxStart {
            background-image: url(Header_Background\ .jpg);
        }
        #startboxStart {
            width: 75%;
            height: auto;
            padding: 20px;
        }
        #chnameStart {
            width: 94%;
        }
    }


